body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    flex-direction: column;
}

header {
    border-bottom: 2px solid black;
}

.site-title {
    font-size: 48px;
    margin: 0;
    font-weight: 900;
}

body footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}