<div>
    <div class="home-image">
        <img src="{{imageUrl}}" alt="Card image cap">
    </div>
    <div class="info">
        <h4>{{title}}</h4>
        {{#if isLoggedIn}}
        <div class="info-buttons">
            <a class="btn details" href="/play/details/{{_id}}">Details</a>
            <span class="likes">Likes: {{usersLiked.length}}</span>
        </div>
        {{/if}}
    </div>
</div>