html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

.site-title {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

.img1 {
    float: right;
}

.img2 {
    float: left;
}

blockquote {
    float: right;
    border-left: 2px solid;
}