@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html {
    text-align: center;
}

.click {
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.mail {
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
}